---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">init</h1>
</Layout>
